.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.formRow {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

.btnContainer {
    width: 150px;
    overflow: hidden;
    border-radius: 5px;
}

@media (min-width: 630px) {
    .form {
        gap: 2rem;
    }

    .formRow {
        gap: 2rem;
    }
}