.button {
    background-color: var(--background-colour-grey);
    width: 100%;
    padding: 10px;
    border: 0px;
}

.left {
    text-align: left;
}

.adminSideButton {
    background-color: var(--admin-navbar-background-colour-selected);
    width: 100%;
    padding: 10px;
    border: 0px;
}

.adminButton {
    background-color: var(--highlights-gold);
    width: 100%;
    padding: 10px;
    border: 0px;
}