* {
  box-sizing: border-box;
}

:root {
  --background-colour-cream: #F1EAD7;
  --background-colour-grey: #D9D9D9;
  --module-background: #FFFFFF;
  --admin-navbar-background-colour: #5F7E78;
  --admin-navbar-background-colour-selected: #799D96;
  --highlights-gold: #E3A53E;
}

html,body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-colour-cream);
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
}
