.cardWrapper {
    display: flex;
    align-items: center;
    background-color: var(--module-background);
    justify-content: space-between;
    padding: 10px 40px;
}

.cardHeader {
    font-size: medium;
    font-weight: 500;
}

.buttonWrapper {
    width: 20%;
}

.adminDashboardCardsWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
    width: 60%;
}