.pageWrapper{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: var(--module-background);
}