.pageWrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginPage {
    display: flex;
    width: clamp(200px, 90%, 400px);
    margin: clamp(5px, 3%, 30px);
    border-radius: 8px;
    box-shadow: 0 0 10px #535353;
    overflow: hidden;
    display: flex;
    direction: row;
    flex-wrap: wrap;
}

.textSegment {
    background-color: var(--background-colour-grey);
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loginFormContainer {
    background-color: var(--module-background);
    width: 100%;
    padding: 2rem;
}

.loginFormHeader {
    font-size: medium;
    font-weight: 500;
}

.btnContainer {
    padding-top: 10;    
    font-size: small;
}

@media (min-width: 630px) {
    .loginPage {
        width: clamp(400px, 90%, 800px);
    }

    .textSegment {
        width: 50%;
            padding: 5rem 2rem;
    }

    .loginFormContainer {
        width: 50%;
        padding: 5rem 2rem;
    }
}