.pageWrapper {
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pageTitle {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

.profileCreation {
    width: 100%;
    max-width: 700px;
}
