

.adminListPageWrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.adminListCardWrapper {
    background-color: var(--module-background);
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    gap: 16px;
    padding: 20px 0;
    overflow: scroll;
}

.adminListCardWrapperEmpty {
    background-color: var(--module-background);
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
}

.infoCardWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-colour-lightgrey);
    width: 90%;
    padding: 10px 30px;
}

.infoTopBarWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 0 30px;
}

.divStyling{
    width: 100%;
}

.emptyPadding{
    padding: 10px 24px;
}