.pageWrapper {
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.pageTitle {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    width: 100%;
    max-width: 720px;
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--module-background);
    width: 100%;
    max-width: 720px;
}
