.field {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    font-size: 16px;

    border: 1px solid #ccc;
    border-radius: 4px;

}

.textArea {
      width: 100%;
      padding: 0 10px;
      font-size: 16px;
      resize: none;
    
      border: 1px solid #ccc;
      border-radius: 4px;
}


.inputLayout {
    display: flex;
    flex-direction: column;
    width: clamp(200px, 100%, 300px);
    gap: 5px;
}

@media (min-width: 630px) {
  .inputLayout {
    width: clamp(100px, 100%, 300px);
    flex: 1 1;
    gap: 5px;
  }
}