.userPanelWrapper{
    background-color: var(--module-background);
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
}

.scrollable{
    height: 60vh;
    overflow: scroll;
}

.userPanelRow{
    display: flex;
    width: 100%;
    padding: 0 60px;
    flex-wrap: wrap;
}

.userPanelRow p {
    width: 50% ;
}

.decisionButtonWrapper{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.buttonStyles{
    padding: 15px 60px;
    border: none;
}

.reportPanelWrapper{   
    background-color: var(--module-background);
    width: 50%;
    padding: 20px 40px;
}

.reportPanelWrapper div {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.MatchPanelWrapper{
    background-color: var(--module-background);
    display: flex;
    width: 50%;
    justify-content: space-between;
    padding: 10px 40px;
}

.matchBrotherDetailsCard{
    width: 50%;
}

.matchSisterDetailsCard {
    display: flex;
    flex-direction: column;
    width: 50%;
}

