.displayProfileWrapper{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profileCard {
    width: 60%;
    background-color: var(--module-background);
}

.button{
    padding: 20px;
}